.app {
	display: grid;
	grid-template-areas: "h h" "s c" "f f";
	grid-template-rows: min-content 1fr min-content;
	grid-template-columns: min-content 1fr;
	width: 100vw;
	height: 100vh;
}

header {
	grid-area: h;
	background: #f2f3f4;
	width: 100%;
	height: 128px;
}

footer {
	grid-area: f;
	background-color: #d4d5d6;
	width: 100%;
	height: 128px;
}

aside {
	height: 100%;
	width: 224px;
	grid-area: s;
	background-color: #e4e5e6;
}

.content {
	width: 100%;
	height: 100%;
	grid-area: c;
	background-color: indianred;
	overflow-y: hidden;
}
